
# Remark: Ignore directories that are created in the scope of testing of the
# update/create script.

/TestScripts

/IGLibScripts
/IGLibScripts1
/IGLibScripts2

/IGLibCore
/IGLibCore1
/IGLibCore2

/repos
/repos1
/repos2


